
body {
    width: 1300px;
}

.nav-item {
    position: relative;
    display: inline-block;
    float: left;
    clear: both;
    color: black;
    font-size: 10px;
    letter-spacing: -1px;
    height: 10px;
    line-height: 7px;
    text-transform: uppercase;
    white-space: nowrap;
    transform: scaleY(0.2);
    transition: 0.5s, opacity 1s;
}


.nav-item:nth-child(2) {
    letter-spacing: 1.3px;
}

.nav-item:before {
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #554948;
    transform: translateY(-50%) scaleY(5);
    transition: 0.5s;
}

.block {
    width: 1000px;
    background: white;
    height: 145px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-around;
    margin-left: 180px;

}

.block-item {
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
margin-left: 50px;
}

.img-item {
    position: absolute;

}

.slider {
    width: 1300px;
    background-color: #353535;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: space-around;
}

.block-item1 {
    font-size: 72px;
    color: white;
    display: table-cell;
    vertical-align: bottom;
    text-align: center;
    height: 375px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}


.block-item2 {
    font-size: 32px;
    color: white;
    vertical-align: top;
    text-align: center;
    height: 95px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.block-item3 {
    text-align: center;
    height: 235px;
    display: flex;
}

.block-item4 {
    font-size: 48px;
    height: 130px;
    width: 1300px;
    display: table-cell;
    vertical-align: bottom;
    text-align: center;

}

hr {
    border: 1px solid red;
    width: 250px;
    position: relative;
    right: 15px;
}

.block-item5 {
    width: 530px;
    height: 30px;
    text-align: center;
    padding-top: 30px;
    padding-left: 415px;
    font-size: 14px;
}

.sections {
    width: 1300px;
    height: 315px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: space-around;

}


.box1 {
    width: 320px;
    height: 200px;
    background-color: #ebebeb;
    text-align: center;
    margin-left: 180px;

}

.img__lay5 {
    margin-top: 35px;
}

.text1 {
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 15px;

}

.text2 {
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 10px;
}


.box2 {
    width: 320px;
    height: 200px;
    background-color: #ebebeb;
    text-align: center;
    margin-left: 0px;
}

.img__lay4 {
    margin-top: 43px;
}


.text3 {
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 20px;
}

.text4 {
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 10px;
}


.box3 {
    width: 320px;
    height: 200px;
    background-color: #ebebeb;
    text-align: center;
    margin-right: 90px;
}

.img__lay3 {
    margin-top: 50px;
}


.text5 {
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 30px;
}

.text6 {
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 10px;
}


.vidio {
    width: 1300px;

    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: space-around;
}

.box-text {
    width: 650px;
    height: 430px;
    text-align: center;
    background-color: #171f23;

}

.box-text1 {
    color: #e7e7e7;
    margin-top: 130px;
    font-size: 30px;
}

.box-text2 {
    color: #696969;
    margin-top: 30px;
    font-size: 14px;
    width: 480px;
    text-align: center;
    margin-left: 90px;

}

.button-text {
    background-color: red;
    color: white;
    margin-top: 50px;
    border: 1px solid red;
    height: 35px;
    width: 130px;
    font-size: 14px;
}


.portfolio-text {
    font-size: 48px;
    height: 130px;
    width: 1300px;
    display: table-cell;
    vertical-align: bottom;
    text-align: center;

}

hr {
    border: 1px solid red;
    width: 250px;
    position: relative;
    right: 15px;
}

.portfolio-text1 {
    width: 530px;
    height: 30px;
    text-align: center;
    padding-top: 30px;
    padding-left: 415px;
    font-size: 14px;
}

.sections-menu-buttons {
    width: 660px;
    height: 135px;
    margin-left: 350px;
    font-size: 13px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: flex-end;
    text-align: center;
    margin-bottom: 40px;
}

.menu-text1:hover {
    border-bottom: 1px solid red;
}

.menu-text2:hover {
    border-bottom: 1px solid red;
}

.menu-text3:hover {
    border-bottom: 1px solid red;
}

.menu-text4:hover {
    border-bottom: 1px solid red;
}

.menu-text5:hover {
    border-bottom: 1px solid red;
}

.red-block {
    background-color: #e84c3d;
    width: 1300px;
    height: 530px;
}

.sections-clients {
    height: 240px;
    width: 1300px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
    background-color: #1c1c1c;

}

.arrow-right {
    background-image: url("./arrow1.jpg");
    background-repeat: no-repeat;
    height: 35px;
    width: 20px;
    position: relative;
    left: 60px;



}

.black-box1 {

    background-image: url("./boxitem.jpg");
    background-repeat: no-repeat;
    width: 36px;
    height: 37px;
    position: relative;
    left: 75px;
    border-radius: 5px;

}

.text-clients1 {
    font-size: 33px;
    color: white;

}

.black-box2 {
    background-image: url("./blackbox.jpg");
    background-repeat: no-repeat;
    width: 36px;
    height: 37px;
    position: relative;
    left: 75px;
    border-radius: 5px;
}

.text-clients2 {
    font-size: 33px;
    color: white;
}

.black-box3 {
    background-image: url("./blackbox.jpg");
    background-repeat: no-repeat;
    width: 36px;
    height: 37px;
    position: relative;
    left: 75px;
    border-radius: 5px;
}

.text-clients3 {
    font-size: 33px;
    color: white;

}

.arrow-left {
    background-image: url("./arrow2.jpg");
    background-repeat: no-repeat;
    height: 35px;
    width: 20px;
    background-color: #1c1c1c;
}

.heading-text {
    font-size: 48px;
    height: 130px;
    width: 1300px;
    display: table-cell;
    vertical-align: bottom;
    text-align: center;

}

hr {
    border: 1px solid red;
    width: 250px;
    position: relative;
    right: 15px;
}

.heading-text1 {
    width: 530px;
    height: 120px;
    text-align: center;
    padding-top: 30px;
    padding-left: 415px;
    font-size: 14px;
}

.block-time {
    width: 1300px;
    height: 555px;
    justify-content: center;
    display: flex;
}

.block-time-social {
    padding-top: 70px;
    background: #ebebeb;
    width: 320px;
    height: 370px;


}

.red-here {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background: #ef6b50;
    position: relative;
    left: 90px;

}

.jene-text {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    padding-top: 25px;
    text-align: center;

}

.designer-text {
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;

}

.social {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    padding-top: 20px;
    padding-left: 125px;
}

.social-be {
    background-image: url("./soc1.jpg");
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
}

.social-f {
    background-image: url("./soc2.jpg");
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    margin-left: 10px;
}

.social-tw {
    background-image: url("./soc3.jpg");
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    margin-left: 10px;
}

.bullet {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    padding-top: 40px;
    padding-left: 130px;
}

.bullet1 {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #957e7d;

}

.bullet2 {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #957e7d;
    margin-left: 10px;

}

.bullet3 {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #957e7d;
    margin-left: 10px;

}

.block-skills {
    width: 650px;
    height: 320px;
    background: #ebebeb;
    margin-left: 30px;
    padding-left: 65px;
    padding-top: 120px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.text-skills {
    font-size: 24px;
}

.text-skills-top {
    font-size: 14px;
    padding-top: 20px;
    width: 560px;
}

.sections-skills {
    padding-top: 30px;
    font-size: 14px;
    position: absolute;
    width: 140px;
    line-height: 2.5;
}

.percent {
    margin-left: 510px;
    margin-top: 30px;
    font-size: 14px;
    line-height: 2.5;
}

.line {
    width: 300px;
    position: absolute;

}

.line1 {
    background-image: url("./skill1.jpg");
    background: #e84c3d;
    width: 280px;
    height: 2px;
    margin-top: 45px;
    margin-left: 140px;
}

.line2 {
    background-image: url("./skill1.jpg");
    background: #e84c3d;
    width: 300px;
    height: 2px;
    margin-top: 35px;
    margin-left: 140px;
}

.line3 {
    background-image: url("./skill1.jpg");
    background: #e84c3d;
    width: 290px;
    height: 2px;
    margin-top: 35px;
    margin-left: 140px;
}

.line4 {
    background-image: url("./skill1.jpg");
    background: #e84c3d;
    width: 350px;
    height: 2px;
    margin-top: 30px;
    margin-left: 140px;
}

.header-text {
    font-size: 48px;
    height: 100px;
    width: 1300px;
    display: table-cell;
    vertical-align: bottom;
    text-align: center;
    color: white;
    background-color: #171f23;
}


.sections-features {
    width: 1300px;
    height: 300px;
    background-color: #171f23;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: space-around;

}

.img__features {
    width: 90px;
    height: 2px;
    background-image: url("./blackline.jpg");
    margin-left: 46%;
    margin-top: 20px;
}


.shortcodes {
    width: 100px;
    height: 200px;
    background-color: #171f23;
    text-align: center;


}

.img__features1 {
    margin-top: 35px;

}

.featyres-text1 {
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 15px;
    color: white;
}

.featyres-text2 {
    color: white;
    font-size: 48px;
}

.plugins {
    width: 150px;
    height: 200px;
    background-color: #171f23;
    text-align: center;


}

.img__features2 {
    margin-top: 35px;

}

.integrated-test1 {
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 15px;
    color: white;
}

.integrated-test2 {
    color: white;
    font-size: 48px;
}

.products {
    width: 150px;
    height: 200px;
    background-color: #171f23;
    text-align: center;


}

.img__features3 {
    margin-top: 35px;

}

.creative-text1 {
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 15px;
    color: white;
}

.creative-text2 {
    color: white;
    font-size: 48px;
}


.clients {
    width: 150px;
    height: 200px;
    background-color: #171f23;
    text-align: center;
}

.img__features4 {
    margin-top: 35px;

}

.clients-text1 {
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 15px;
    color: white;
}

.clients-text2 {
    color: white;
    font-size: 48px;
}


.blogs {
    height: 250px;
    width: 1300px;
}

.blogs-text {
    width: 550px;
    padding-left: 420px;
    padding-top: 75px;
}

.blog-text1 {
    font-size: 48px;
    padding-left: 100px;
}

.blog-text2 {
    font-size: 14px;
    text-align: center;
    padding-top: 30px;
}


.blogs-box {
    width: 1000px;
    height: 540px;
    background: white;
    margin-left: 160px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
}

.blogs-box1 {
    width: 320px;
    height: 220px;
    background: #827272;
}

.blogs-box2 {
    width: 320px;
    height: 220px;
    background-image: url("./blogs5.jpg");
    z-index: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.hover-buttons {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background: #e67b5d;
    z-index: 1;

}

.hover-buttons1 {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background: white;
    z-index: 1;
    margin-left: 20px;
}


.blogs-box3 {
    width: 320px;
    height: 220px;
    background: #827272;
}

.blogs-box4 {
    width: 320px;
    height: 220px;
    background: #ebebeb;
}

.blogs-box__text1 {
    font-size: 18px;
    padding-left: 20px;
    padding-top: 40px;
}

.blogs-box__text2 {
    font-size: 14px;
    padding-left: 20px;
    width: 230px;
    padding-top: 30px;

}

.data {
    font-size: 10px;
    padding-top: 25px;

    display: flex;
    justify-content: space-evenly;
}

.like {
    font-size: 10px;
    padding-left: 140px;

}

.comments {
    font-size: 10px;
}

.blogs-box5 {
    width: 320px;
    height: 220px;
    background: #ebebeb;
}

.blogs-box6 {
    width: 320px;
    height: 220px;
    background: #ebebeb;
}

.header-text2 {
    font-size: 48px;
    height: 110px;
    width: 1300px;
    display: table-cell;
    vertical-align: bottom;
    text-align: center;
    color: white;
    background-color: #171f23;

}

.pricing {
    width: 1300px;
    height: 550px;
    background: #171f23;
    display: flex;
    justify-content: space-evenly;
padding-top: 60px;
}

.plan-name {
    color: white;
    width: 230px;
    height: 130px;
    background: #221b1d;
    text-align: center;

}
.plan-name1{
    padding-top: 40px;
    font-size: 14px;
}
.plan-name2 {
    font-size: 36px;
}
.offers {
    color: white;

}
.offers1{
    background: #322e31;
    width: 230px;
    height: 270px;
    line-height: 25px;
    text-align: center;
    padding-top: 50px;
}

.submit2 {
    width: 130px;
    height: 35px;
    background: #ef6b50;
    color: white;
    border: 0;
}

form {
    background-color: #ffffff;
    height: 200px;
    width: 1300px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
flex-direction: row;
   flex-wrap: wrap;

}
.forms2{
width: 1300px;
padding-left: 180px;
}
.input1{
    border: 0;
    border-bottom: 2px solid #cacaca;
width: 950px;
}
.titles{
    display: flex;
}
.titles1{
    padding-bottom: 90px;
    display: flex;
}


.input {
    border: 0;
    border-bottom: 2px solid #cacaca;
    width: 370px;
    height: 35px;
}
.submit1{
    width: 1300px;
    height: 120px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    padding-bottom: 85px;
}
.submit {
    background: #f6744b;
    border: none;
    height: 50px;
    width: 200px;
    color: white;
}
.purchase{
    padding-top: 75px;
}

.color-form {
    color: #ef6b50;
}
.footer{
    height: 50px;
    width: 1300px;
    justify-content: center;
    color: white;
    background: #0c1215;
    display: flex;
    padding-top: 30px;
}
.footer1{
height: 190px;
background: #171f23;
    color: white;
    display: flex;
flex-direction: column;
    text-align: center;
    align-items: center;
    padding-top: 50px;

}
.logo{
    background-image: url("lay1.png");
    background-repeat: no-repeat;
    width: 40px;
    height: 50px;
    display: flex;
}
.social{
  padding-right: 130px;
}

















@media (max-width: 1300px) {
.block{
    width: 100%;
}
}

@media (max-width: 992px) {
    body {
        max-width: 750px;
    }
}

@media (max-width: 620px) {
    body {
        max-width: 320px;
    }
}

@media all and (min-width: 320px) and (max-width: 1024px)
